@import './variable/vars.scss';

@mixin inputHover {
  border-color: $input-border-color;
}

@mixin inputFocus {
  border-color: $input-border-color;
  border-right-width: 1px !important;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

@mixin input {
  position: relative;
  box-sizing: border-box;
  width: $input-w;
  margin: $input-mgy $input-mgy;
  padding: $input-py $input-px;
  color: $input-color;
  font-size: $input-font-size;
  line-height: $input-l-h;
  list-style: none;
  background-color: $input-bg;
  background-image: none;
  border: $input-border-w solid $input-border-color;
  border-radius: $border-radius-round;
  transition: all 0.3s;
}

.lem-input {
  display: inline-block;
  outline: 0;
  @include input();

  &:hover {
    @include inputHover();
  }

  &:focus {
    @include inputFocus();
  }
}

.lem-input-affix-wrapper {
  display: inline-flex;
  @include input();

  &:hover {
    @include inputHover();
  }

  &:focus {
    @include inputFocus();
  }

  & > .lem-input {
    padding: 0;
    border: none;

    &:focus {
      border: none;
      box-shadow: none;
    }
  }
}

.lem-input-prefix {
  margin-right: 4px;
}

.lem-input-suffix {
  margin-left: 4px;
}

.lem-input-prefix,
.lem-input-suffix {
  display: flex;
  flex: none;
  align-items: center;
}
