@import './variable/vars.scss';

$layout-transition: all 0.2s ease-in-out !default;

@mixin center($h, $l-h, $ta) {
  height: $h;
  line-height: $l-h;
  @if $ta {
    text-align: $ta;
  }
}

.lem-layout {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;

  &.is-vertical {
    flex-direction: row;
  }

  &-header {
    padding: $layout-hd-py $layout-hd-px;
    @include center($layout-hd-h, $layout-hd-l-h, false);
  }

  &-content {
    flex: auto;
    min-height: 0;
  }

  &-footer {
    padding: $layout-ft-py $layout-ft-px;
    font-size: $font-size-sm;
  }

  &-sider {
    position: relative;
    transition: $layout-transition;

    &-trigger {
      position: fixed;
      bottom: 0;
      z-index: 1;
      cursor: pointer;
      transition: $layout-transition;
      @include center($layout-side-trigger-h, $layout-side-trigger-l-h, center);
    }
  }
}
