@mixin center($h, $l-h, $ta) {
  height: $h;
  line-height: $l-h;
  @if $ta {
    text-align: $ta;
  }
}

.lem-layout {
  display: flex;
  flex: auto;
  flex-direction: column;

  &.is-vertical {
    flex-direction: row;
  }

  &-header {
    padding: 0 20px;
    @include center(48px, 48px, false);
  }

  &-content {
    flex: auto;
  }

  &-footer {
    padding: 0 20px;
  }

  &-sider {
    position: relative;
    transition: all 0.3s ease-in-out;

    &-trigger {
      position: absolute;
      bottom: 0;
      z-index: 1;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      @include center(38px, 38px, center);
    }
  }
}
