@import './variable/vars.scss';

@mixin menuItemSize($H, $l-h, $mx, $my, $px, $py) {
  height: $H;
  margin: $my $mx;
  padding: $py $px;
  line-height: $l-h;
}

.lem-menu {
  box-sizing: border-box;
  margin: $menu-mgy $menu-mgx;
  padding: $menu-py $menu-px;
  color: $menu-color;
  list-style: none;
  background: $menu-bg;
  outline: none;
}

.lem-menu-item,
.lem-menu-submenu-title {
  display: block;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.1s;
  @include menuItemSize(
    $menu-item-h,
    $menu-item-l-h,
    $menu-item-mgx,
    $menu-item-mgy,
    $menu-item-px,
    $menu-item-py
  );
}

.lem-menu-item:hover,
.lem-menu-submenu-title:hover,
.lem-menu-item-selected {
  color: $menu-item-selected-color;
}

.lem-menu-submenu-horizontal {
  & > .lem-menu-sub {
    position: absolute;
    top: 52px;
  }
}

.lem-menu-vertical {
  .lem-menu-item,
  .lem-menu-submenu-title {
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    @include menuItemSize(
      $menu-vertical-item-h,
      $menu-vertical-item-l-h,
      $menu-item-mgx,
      $menu-item-mgy,
      $menu-item-px,
      $menu-item-py
    );
  }

  .lem-menu-sub .lem-menu-item {
    padding-left: $menu-vertical-item-px;
  }
}

.lem-menu-hidden {
  display: none;
}

.lem-menu-overflow {
  display: flex;
}
