@mixin itemSize($height, $lineHeight, $mx, $my, $px, $py) {
  height: $height;
  margin: $my $mx;
  padding: $py $px;
  line-height: $lineHeight;
}

$menu-color: #adb5bd;
$itemHoverColor: #000;

.lem-menu {
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  color: $menu-color;

  &--overflow {
    display: flex;
  }

  &-submenu-title,
  &-item {
    display: block;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.1s;
    @include itemSize(46px, 46px, 0, 0, 20px, 0);

    &:hover {
      color: $itemHoverColor;
    }
  }

  &-item--selected {
    color: $itemHoverColor;
  }

  &-submenu {
    position: relative;

    &__inner {
      height: auto;
      transition: all 200ms ease;
    }

    &--close {
      .lem-menu-submenu__inner {
        height: 0;
        opacity: 0;
      }
    }

    &--open {
      .lem-menu-submenu__inner {
        opacity: 1;
      }
    }
  }

  &--horizontal {
    .lem-menu-submenu__inner {
      position: absolute;
      top: 46px;
      box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
    }
  }

  &--vertical {
    .lem-menu-submenu__inner {
      padding-left: 40px;
    }
  }
}
