@import './variable/vars.scss';

@mixin fixed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}

.lem-pirate-modal {
  @include fixed();

  .lem-modal-mask {
    @include fixed();

    background-color: rgba(0, 0, 0, 0.4);
    filter: alpha(opacity=50);
  }

  .lem-modal-warp {
    position: relative;
    margin: 100px auto;
    overflow: hidden;

    .lem-modal-close {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      width: 54px;
      height: 54px;
      font-size: 32px;
      line-height: 54px;
      text-align: center;

      span {
        display: inline-block;
        width: 32px;
        color: rgba(0, 0, 0, 0.65);
        line-height: 32px;
        transform: rotate(45deg);
        cursor: pointer;
      }
    }
  }

  .lem-modal-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .lem-modal-warp.lem-modal-center {
    margin: 0;
  }

  .lem-modal {
    position: relative;
    box-sizing: border-box;
    padding: $modal-py $modal-px;
    color: $modal-color;
    font-size: $modal-font-size;
    list-style: none;
    background-color: $modal-bg;
    border-radius: $modal-border-radius;

    .lem-modal-content {
      position: relative;
      background-clip: padding-box;

      .lem-modal-header {
        padding: $modal-hd-py $modal-hd-px;
        border-bottom: 1px solid $gray-300;

        .lem-modal-title {
          margin: 0;
          font-weight: $font-w-5;
          font-size: $font-size-base;
        }
      }

      .lem-modal-body {
        min-height: 165px;
        padding: $modal-bd-py $modal-bd-px;
        font-size: $font-size-sm;
        word-wrap: break-word;
      }

      .lem-modal-footer {
        padding: $modal-ft-py $modal-ft-px;
        text-align: right;
        border-top: 1px solid $gray-300;
      }
    }
  }
}
