@import './variable/vars.scss';

.lem-pagination {
  box-sizing: border-box;
  margin: $pagination-mgy $pagination-mgx;
  padding: $pagination-py $pagination-px;
  color: $back;
  font-size: $font-size-sm;
  list-style: none;
}

.lem-pagination-prev {
  margin-right: 8px;
}

.lem-pagination-prev,
.lem-pagination-next {
  display: inline-block;
  min-width: 32px;
  height: $pagination-h;
  color: $back;
  line-height: $pagination-l-h;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  border-radius: $border-radius-round;
  outline: 0;
  cursor: pointer;
  transition: all 0.3s;
}

.lem-pagination-button {
  display: block;
  width: $pagination-button-w;
  height: $pagination-button-h;
  padding: $pagination-button-padding;
  text-align: center;
  background-color: $secondary;
  border: none;
  border-radius: $border-radius-round;
  outline: 0;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    color: #5468ff;
  }
}

.lem-pagination-slash {
  margin: 0 10px 0 5px;
}

.lem-pagination-simple {
  .lem-pagination-prev,
  .lem-pagination-next {
    height: 24px;
    line-height: 24px;
    vertical-align: top;
  }

  &-pager {
    display: inline-block;
    height: 24px;
    margin-right: 8px;
    line-height: 24px;

    input {
      box-sizing: border-box;
      height: 100%;
      margin-right: 8px;
      padding: 0 6px;
      text-align: center;
      background-color: #fff;
      border: 1px solid #d9d9d9;
      border-radius: 2px;
      outline: none;
      transition: border-color 0.3s;
    }
  }
}
