// 中性色彩
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$back: #000 !default;

// 主题色彩
$primary: $gray-500 !default;
$secondary: $white !default;

// 状态色
// 辅助色

// 字体
$font-family: 'Inter', inter var, system-ui, -apple-system, blinkmacsystemfont,
  segoe ui, roboto, helvetica neue, arial, noto sans, sans-serif,
  apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;

// 字号
$font-size-base: 1rem !default;
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: 14px !default;

// 字重
$font-w-5: 500 !default;

// 行高

// 阴影

// 圆角
$border-radius-round: 4px !default;
$border-radius-circle: 50% !default;

// Layout start
$layout-hd-h: 64px !default;
$layout-hd-l-h: $layout-hd-h !default;
$layout-hd-px: 50px !default;
$layout-hd-py: 0 !default;

$layout-ft-px: 50px !default;
$layout-ft-py: 14px !default;

$layout-side-trigger-h: 48px !default;
$layout-side-trigger-l-h: $layout-side-trigger-h !default;
// Layout end

// Menu start
$menu-mgx: 0 !default;
$menu-mgy: 0 !default;
$menu-px: 0 !default;
$menu-py: 0 !default;
$menu-font-size: $font-size-base !default;
$menu-color: $primary !default;
$menu-bg: $secondary !default;

$menu-item-mgx: 0 !default;
$menu-item-mgy: 0 !default;
$menu-item-px: 20px !default;
$menu-item-py: 0 !default;
$menu-item-h: 46px !default;
$menu-item-l-h: $menu-item-h !default;
$menu-vertical-item-h: $menu-item-h * 0.85 !default;
$menu-vertical-item-l-h: $menu-vertical-item-h !default;
$menu-vertical-item-px: 48px;

$submenu-item-h: 46px !default;
$submenu-item-l-h: $submenu-item-h !default;

$menu-item-selected-color: $back !default;
// Menu end

// Input start
$input-w: 100% !default;
$input-mgx: 0 !default;
$input-mgy: 0 !default;
$input-px: 12px !default;
$input-py: 4px !default;
$input-font-size: $font-size-sm !default;
$input-l-h: 1.57 !default;
$input-bg: $white !default;
$input-color: $back !default;

$input-border-w: 1px !default;
$input-border-color: $primary !default;

$input-hover-color: $back !default;
// Input end

// Modal start
$modal-mask-bg: $gray-600 !default;
$modal-mgx: auto !default;
$modal-mgy: 0 !default;
$modal-px: 10px;
$modal-py: 10px;

$modal-border-radius: $border-radius-round !default;
$modal-bg: $white !default;
$modal-color: $back !default;
$modal-font-size: $font-size-base !default;

$modal-hd-px: 20px !default;
$modal-hd-py: 10px !default;

$modal-bd-px: 20px !default;
$modal-bd-py: 10px !default;

$modal-ft-px: $modal-hd-px;
$modal-ft-py: $modal-hd-py;
// Modal end

// Pagination start
$pagination-mgx: 0 !default;
$pagination-mgy: $pagination-mgx !default;
$pagination-px: 0 !default;
$pagination-py: $pagination-px !default;
$pagination-h: 32px !default;
$pagination-l-h: $pagination-h !default;
$pagination-button-h: 24px !default;
$pagination-button-w: 100% !default;

$pagination-button-padding: 0;
// Pagination end
